@CHARSET "UTF-8";

* { @include box-sizing(border-box);
	
}

body, html {
	width: 100%;
	height: 100%;
}

.headerDiv {
	width: 100%;
}

.headerDiv h1 {@import
	url('https://fonts.googleapis.com/css?family=Allura');font-family: Allura,
	sans-serif ; font-size: 45px ; color: #0034AF ; text-align: center ;
	
}

.charts {
	width: 80%;
	height: 70%;
	border: 1px solid blue;
	overflow: hidden;
	margin: auto;
	margin-top: 50px;
	background: #CFC3F8;
	box-shadow: 10px 10px 5px #888888;
}

.pieChartDiv {
	padding: 0;
	float: right;
	width: 100%;
	height: 50%;
	border-bottom: 1px solid white;
}

.lineChartDiv {
	padding: 0;
	float: left;
	width: 100%;
	height: 50%;
}

#piechart {
	margin: auto;
	width: 100%;
	height: 100%;
}

#chart_div {
	margin: auto;
	width: 100%;
	height: 80%;
}

.sales {
	width: 80%;
	height: 70%;
	border: 1px solid blue;
	overflow: hidden;
	margin: auto;
	margin-bottom: 20px;
	background: #CFC3F8;
	box-shadow: 10px 10px 5px #888888;
	padding-top: 40px;
}

.sales table {
	width: 95%;
	table-layout: fixed;
}

#orderTable {
	padding-top: 5%;
}

.sales table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.sales table tr:hover {
	color: white;
	background: #0034AF;
}

.sales table th {
	width: 100%;
	height: 20px; background : #4EAFCD;
	color: white;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
	font-size: 1.7em;
	font-family: Veranda, sans-serif;
	background: #4EAFCD;
}

.sales table td {
	border: 1px solid #ddd;
	padding: 8px;
	margin: auto;
	width: 100%;
	height: 10px;
	text-align: center;
}

@media only screen and (min-width: 900px) {
	.charts {
		width: 80%;
		height: 35%;
	}
	.pieChartDiv {
		width: 50%;
		height: 100%;
		border-right: 1px solid white;
	}
	.lineChartDiv {
		width: 50%;
		height: 100%;
	}
	.sales {
		width: 80%;
		height: 70%;
	}
	.sales table {
		width: 80%;
	}
	.sales table td {
		height: 20px;
	}
}