<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>OrderManagementSystem</display-name>
    <servlet>
        <servlet-name>UserCreationServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.login.UserCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreationServlet</servlet-name>
        <url-pattern>/create-user.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/save-order.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.GetOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/get-orders.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginValidationServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.login.LoginValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidationServlet</servlet-name>
        <url-pattern>/validate.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.commons.SetSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/set-session.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetSingleOrderServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.GetSingleOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSingleOrderServlet</servlet-name>
        <url-pattern>/get-order-data.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrdersToJSONServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.OrdersToJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrdersToJSONServlet</servlet-name>
        <url-pattern>/convert-orders.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CalendarEventServlet</servlet-name>
        <servlet-class>org.patrickslagle.calendar.CalendarEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarEventServlet</servlet-name>
        <url-pattern>/calendar-events.do</url-pattern>
    </servlet-mapping>
</web-app>
