<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OrderManagementSystem</display-name>
  <servlet>
    <servlet-name>UserCreationServlet</servlet-name>
    <servlet-class>org.patrickslagle.controller.UserCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreationServlet</servlet-name>
    <url-pattern>/create-user.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveOrderServlet</servlet-name>
    <servlet-class>org.patrickslagle.controller.SaveOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveOrderServlet</servlet-name>
    <url-pattern>/save-order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOrderServlet</servlet-name>
    <servlet-class>org.patrickslagle.controller.GetOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderServlet</servlet-name>
    <url-pattern>/get-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginValidationServlet</servlet-name>
    <servlet-class>org.patrickslagle.controller.LoginValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidationServlet</servlet-name>
    <url-pattern>/validate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetCookies</servlet-name>
    <servlet-class>org.patrickslagle.controller.SetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookies</servlet-name>
    <url-pattern>/set-cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSingleOrderServlet</servlet-name>
    <servlet-class>org.patrickslagle.controller.GetSingleOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSingleOrderServlet</servlet-name>
    <url-pattern>/get-order-data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersToJSONServlet</servlet-name>
    <servlet-class>org.patrickslagle.controller.OrdersToJSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersToJSONServlet</servlet-name>
    <url-pattern>/convert-orders.do</url-pattern>
  </servlet-mapping>
</web-app>