<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>OrderManagementSystem</display-name>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserCreationServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.login.UserCreationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreationServlet</servlet-name>
        <url-pattern>/create-user.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/save-order.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.GetOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/get-orders.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginValidationServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.login.LoginValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidationServlet</servlet-name>
        <url-pattern>/validate.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetSessionServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.commons.SetSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetSessionServlet</servlet-name>
        <url-pattern>/set-session.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetSingleOrderServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.GetSingleOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSingleOrderServlet</servlet-name>
        <url-pattern>/get-order-data.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CalendarEventServlet</servlet-name>
        <servlet-class>org.patrickslagle.calendar.CalendarEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarEventServlet</servlet-name>
        <url-pattern>/calendar-events.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.commons.LogoutServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search-orders.do</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>OrdersToJSONServlet</servlet-name>
        <servlet-class>org.patrickslagle.controller.orders.OrdersToJSONServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>OrdersToJSONServlet</servlet-name>
        <url-pattern>/convert-orders.do</url-pattern>
    </servlet-mapping>
     
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>UserConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>User</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>AdminRole</role-name>
            <role-name>UserRole</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Exclude from Security</web-resource-name>
            <url-pattern>/img/*</url-pattern>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/js/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/invalid-login.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Admin security constraint</description>
        <role-name>AdminRole</role-name>
    </security-role>
    <security-role>
        <description>User security constraint</description>
        <role-name>UserRole</role-name>
    </security-role>
</web-app>
